.bg-cont{
    height:85vh;
    background: #101010;
}


.skills-container{
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 30vh;
  flex-direction: column;
}

.title{
    margin-top: 4vh;
    color:  #C0C0C0;
    font-size: 50px;
    background: -webkit-linear-gradient(120deg, hsl(0deg 0% 75%) 20%, hsl(84deg 21% 74%) 64%, hsl(85deg 40% 73%) 74%, hsl(86deg 58% 71%) 78%, hsl(86deg 74% 69%) 82%, hsl(87deg 88% 67%) 87%, hsl(87deg 100% 64%) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.contskills{
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
}

.skills{
    display: flex;
    margin-left: 50px;
    color: #C0C0C0;
    padding:  20px;
    width: 100%;
}

.card-cont{
    position: relative;
   left:-5%;
 width: 50%;
}
.rskills{
    background:#303030;
    padding: 10px 10px;
    font-size: 25px;
}

.skill-span{
    display: flex;
    align-items: center;
    background-image: linear-gradient(
        60deg,
        hsl(0deg 0% 19%) 28%,
        hsl(0deg 2% 26%) 75%,
        hsl(0deg 4% 33%) 88%,
        hsl(0deg 5% 41%) 95%,
        hsl(0deg 5% 49%) 99%,
        hsl(0deg 8% 57%) 101%,
        hsl(330deg 6% 48%) 101%,
        hsl(268deg 6% 41%) 102%,
        hsl(219deg 13% 33%) 101%,
        hsl(199deg 25% 23%) 101%,
        hsl(182deg 38% 14%) 100%
      );
    width: 100%;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 25px;
    color: rgb(198, 188, 188);
}





.divider {
    position: relative;
    display:flex;
    left:1vw;
    width: 50%;
    height: 50px;
  }
  
  .square {
    position: relative;
    margin-top: 21.5vh;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f83535;
    font-family: 'Dancing Script', cursive;
    background-image: linear-gradient(
        65deg,
        hsl(332deg 94% 50%) 0%,
        hsl(339deg 91% 60%) 11%,
        hsl(343deg 87% 64%) 22%,
        hsl(347deg 82% 68%) 33%,
        hsl(349deg 75% 70%) 44%,
        hsl(352deg 66% 73%) 56%,
        hsl(354deg 56% 74%) 67%,
        hsl(0, 43%, 76%) 78%,
        hsl(358deg 26% 77%) 89%,
        hsl(0deg 6% 78%) 100%
      );
  }
  
  .square span {
    font-size: 24px;
    transform: rotate(-45deg);
  }
  
  .line {
    position: absolute;
    left: 7.6%;
    height: 2px;
    width: 0;
   background-color: #8ca3c6;
    animation: line-anim 1s forwards;
    margin-top: 25vh;
   
  }
  
  @keyframes line-anim {
    0% {
      width: 0;
    }
    100% {
      width: calc(100% - 50px);
    }
  }
  