.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
  padding: 20px 80px;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: linear-gradient(to top , transparent 0%,rgb(0 ,0,0,0.3) 50%);
  
  }
  .links{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li{
    list-style: none;
    padding: 0 20px;
    
  }
 li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    color:#C0C0C0;
    padding: 7px 8px;
  }
  .letter
  {
    
    font-family: 'Dancing Script', cursive;
    color: #C3195D;
  }
  .container{
    text-decoration: none;
    font-size: 2.3rem;
    color: rgb(182, 188, 194);
    
  }
  .scrolled{
    background-color:black;
    transition: .5s;
  }

  .scrolled a:hover{
    background-color:#F70776;
    transition: .5s;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: calc(21px - .4px);
  }

  a:hover{
    color: white;
    transition: .5s;
    font-size: calc(21px + .5px);
  }



